# Global ----------------------------------------------------------------------
numpy
matplotlib
tensorflow
gitpython

# Barnabé's program -----------------------------------------------------------
docutils
mpi4py
h5py
wheel
pyvtk
amuse